@import 'tailwindcss';

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility font-bangers {
  font-family: var(--font-bangers), cursive;
  letter-spacing: 3px;
}

@utility font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}
